.container {
    margin-top: 30px;
    margin-bottom: 50px;
}


.big_block {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.little_block {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: grey;
}